:root {
  /* Tamaño de fuentes */
  --titles: 34rem;
  --paragraphs: 20rem;
  --line-spacing-h: 37px;
  --line-spacing-p: 25px;
}

html {
  overflow-y: scroll;
}
html::-webkit-scrollbar {
  background-color: #FFE9D5;
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  background-color: #F7931A;
}

header {
  height: 314px;
}

header img {
  width: 250px;
  height: 48px;
}

.header--title-container h1 {
  font-size: var(--titles);
  line-height: var(--line-spacing-h);
}

.header--title-container p {
  margin-top: 30px;
  font-size: var(--paragraphs);
  line-height: var(--line-spacing-p);
}

.header--title-container .header-button {
  top: 265px;
  width: 250px;
  font-size: 16rem;
}

.main-exchange-container {
  padding: 70px 0 0;
  margin-bottom: 100px;
}

.main-exchange-container .backgroundImg {
  width: 300px;
  height: 300px;
  margin-bottom: 60px;
}

.main-exchange-container h2 {
  font-size: var(--titles);
  line-height: var(--line-spacing-h);
}

.main-exchange-container p {
  font-size: var(--paragraphs);
  line-height: var(--line-spacing-p);
}

.main-tables-container {
  justify-content: center;
  gap: 10px;
}

.currency-table--container td, .commissions-table--container td {
  font-size: 18rem;
  line-height: 21px;
}

.currency-table--container .table__right, .commissions-table--container .table__right {
  padding-left: 15px;
  font-size: 16rem;
  line-height: 20px;
}

.currency-table--container .down, .currency-table--container .up {
  width: 20px;
  height: 20px;
}

.currency-table--update p, .commissions-table--update p {
  font-size: 13rem;
  line-height: 16px;
}

.main-product-detail {
  min-width: 800px;
  padding: 20px 0;
}

.product-detail--batata-logo {
  width: 80px;
  height: 50px;
  top: calc(0% - 25px);
  left: calc(50% - 40px);
}

.product-detail--title {
  margin-top: 70px;
}

.product-detail--title h2 {
  margin-bottom: 35px;
  font-size: var(--titles);
  line-height: var(--line-spacing-h);
}

.product-detail--title p {
  margin-bottom: 60px;
  font-size: var(--paragraphs);
  line-height: var(--line-spacing-p);
}

.product-cards--container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.product-detail--card {
  max-width: 350px;
  border-radius: 10px;
}

.product-detail--card span {
  width: 30px;
  height: 30px;
}

.product--card-title {
  font-size: 20rem;
  line-height: 20px;
}

.product--card-body {
  font-size: 16rem;
  line-height: 20px;
}

.bitcoin-img-container {
  min-width: 800px;
  height: 100vh;
}

.bitcoin-img-container h2 {
  padding-top: 50rem;
  font-size: var(--titles);
}

.main-plans-container {
  min-width: 800px;
  padding-bottom: 10px;
}

.plans--title {
  min-width: 788px;
  padding-top: 85px;
}

.plans--title h2 {
  font-size: var(--titles);
  line-height: var(--line-spacing-h);
}

.plans--title p {
  padding-top: 40px;
  font-size: var(--paragraphs);
  line-height: var(--line-spacing-p);
}

.plans-container--slider {
  /* gap: 20px; */
  height: 470px;
  overflow-x: hidden;
  justify-content: center;
}

.plans--card {
  min-width: 200px;
  max-width: 270px;
  height: 305rem;
  margin-top: 80px;
}

.membership {
  width: 140px;
  height: 35px;
  left: calc(50% - 70px);
  top: -20px;
  font-size: 16rem;
  border-radius: 10px;
}

.plan-card--title {
  font-size: 20rem;
  line-height: 27rem;
}

.plan-card--price {
  font-size: 60rem;
}

.plan-card--price span {
  font-size: 16rem;
  vertical-align: 35px;
  margin-right: 10px;
}

.plan-card--saving {
  font-size: 14rem;
}

.plan-card--ca {
  border-radius: 10px;
  font-size: 16rem;
  line-height: 20rem;
}

footer .left ul {
  padding: 15px 0 0;
}
.right img {
  width: 90px;
}